functions-framework==3.*
flask==3.*
google-cloud-secret-manager==2.*
google-cloud-firestore==2.*
google-cloud-logging>=3.5.0
httpx==0.*
cloud-sql-python-connector[pg8000]==1.*
sqlalchemy==2.*
pg8000==1.*
